{{ header }}
<style>
.header.customhead, .header-buttom.custommenu{
display:none;
}

.custombanner{
display:none;
}
   .footer-menu {
                display: none;
            }
            .footer_terms {
                  display: none;
            }
</style>

<script src="https://ws1.postcodesoftware.co.uk/lookup.min.js"></script>
<div class="container-fluid custom-check-bg">
<div class="header-top-image checkout_header">
<div class="container">
<div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" /></a><span class="site_title">{{ name }}</span>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
		  <ul class="nav nav-pills">
			  <li class="Shipping stepss active"><a data-toggle="pill" href="#home">Shipping</a></li>
			  <li class="Payment stepss"><a data-toggle="pill" href="#menu1">Payment</a></li>
			  <li class="Review stepss"><a data-toggle="pill" href="#menu2">Review</a></li>
		  </ul>
</div>
</div>
  
	  
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default step1check" style="display:none">
                    <div class="panel-heading" style="display:none;">
                        <h4 class="panel-title">{{ text_checkout_option }}</h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-checkout-option">
                        <div class="panel-body"></div>
                    </div>
                </div>
               
                <div class="panelcontainer step3and4">
                    <div class="panel panel-default step3check">
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="panel-heading">
                                    <h4 class="panel-title">{{ text_checkout_payment_address }}</h4>
                                </div>
                                <div class="panel-collapse" id="collapse-payment-address">
            	                   <h4 class="panel-title" style="display:none;">{{ text_checkout_payment_address }}</h4>
                                    <div class="panel-body"></div>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">{{ text_checkout_payment_method }}</h4>
                                  </div>
                                  <div class="panel-collapse collapse" id="collapse-payment-method">
                                    <div class="panel-body"></div>
                                  </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade"></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default step7check">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ text_checkout_confirm }}</h4>
                    </div>
                  <div class="panel-collapse collapse" id="collapse-checkout-confirm">
                    <div class="panel-body"></div>
                  </div>
                </div>
                {{ content_bottom }}
            </div>
            {{ column_right }}
        </div>
    </div>
</div>
<!-- Add below form -->

<script type="text/javascript"><!--
    var cookieValue = sessionStorage.getItem("lastname");

    function getCookie(key) {
        var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
    }
    $(document).on('change', 'input[name=\'account\']', function() {
    	if ($('#collapse-payment-address').parent().find('.panel-heading .panel-title > *').is('a')) {
    		if (this.value == 'register') {
    			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
    		} else {
    			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
    		}
    	} else {
    		if (this.value == 'register') {
    			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
    		} else {
    			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
    		}
    	}
    });

    {% if not logged %}
        $(document).ready(function() {
            var cookieValue = getCookie("emailid");
            var cookieValue = sessionStorage.getItem("lastname");
            
            // Retrieve
    
            $('#input-payment-email').val(cookieValue);
            $.ajax({
                url: 'index.php?route=checkout/login',
                dataType: 'html',
                success: function(html) {
                   $('#collapse-checkout-option .panel-body').html(html);
        
        			$('#collapse-checkout-option').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-option" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_option }} <i class="fa fa-caret-down"></i></a>');
        
        			$('a[href=\'#collapse-checkout-option\']').trigger('click');
        			var cookieValue = getCookie("emailid");
        			//alert(cookieValue);
        			if(cookieValue != ""){
        			$('#button-account').trigger('click');
        			}
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
    {% else %}
        $(document).ready(function() {
            $.ajax({
                url: 'index.php?route=checkout/payment_address',
                dataType: 'html',
                success: function(html) {
                    $('#collapse-payment-address .panel-body').html(html);
                    var cookieValue = getCookie("emailid");
                    var cookieValue = sessionStorage.getItem("lastname");
                    $('#input-payment-email').val(cookieValue);
        			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
        
        			$('a[href=\'#collapse-payment-address\']').trigger('click');
        
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
    {% endif %}
    
    // Checkout
    $(document).delegate('#button-account', 'click', function() {
        $.ajax({
            // url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
             url: 'index.php?route=checkout/shipping_address',
            dataType: 'html',
            beforeSend: function() {
            	$('#button-account').button('loading');
    		},
            complete: function() {
    			$('#button-account').button('reset');
            },
            success: function(html) {
                $('.alert-dismissible, .text-danger').remove();
    			$('.form-group').removeClass('has-error');
    
                $('#collapse-payment-address .panel-body').html(html);
                var cookieValue = getCookie("emailid");
                var cookieValue = sessionStorage.getItem("lastname");
                $('#input-payment-email').val(cookieValue);
    			if ($('input[name=\'account\']:checked').val() == 'register') {
    				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
    			} else {
    				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
    			}
    
    			//$('a[href=\'#collapse-payment-address\']').trigger('click');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    
    
      $(document).delegate('#button-shipping', 'click', function() {
          
        $.ajax({
            url: 'index.php?route=checkout/guest/saveshippingdata',
            type: 'post',
            data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
            dataType: 'json',
            beforeSend: function() {
            	$('#button-shipping-method').button('loading');
    		},
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
    
                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-shipping-method').button('reset');
    
                    if (json['error']['warning']) {
                        $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }
                    	for (i in json['error']) {
                           var error_input = '#input-payment-' + i.replace('_', '-');
                         if(error_input == '#input-payment-address-1'){
                            error_input = '#line1';
                         }
                          if(error_input == '#input-payment-city'){
                            error_input = '#town';
                         }
                         if(error_input == '#input-payment-postcode'){
                    $('#postcode-required').html('<div class="text-danger">' + json['error'][i] + '</div>');
                         }
                        
    					var element = $(error_input);
    
    					if ($(element).parent().hasClass('input-group')) {
    						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
    					} else {
    						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
    					}
    				}
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/paymentconfirm',
                        dataType: 'html',
                      
                        success: function(html) {
    					//alert('5');
    					
                            $('#collapse-payment-method .panel-body').html(html);
    
    						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');
                     $('a[href=\'#menu1\']').trigger('click');
    						$('a[href=\'#collapse-payment-method\']').trigger('click');
    						
    						$('a[href=\'#collapse-payment-address\']').trigger('click');
    						$('a[href=\'#collapse-shipping-method\']').trigger('click');
    					
    						 $('.Shipping.stepss').addClass('active');
    						 $('.Payment.stepss').addClass('active');
    						 $('.Payment').addClass('active');
    
    						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
    							$('#button-payment-method').trigger('click');
    							return false;
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    ////////////////////////////
    // Login
    $(document).delegate('#button-login', 'click', function() {
        $.ajax({
            url: 'index.php?route=checkout/login/save',
            type: 'post',
            data: $('#collapse-checkout-option :input'),
            dataType: 'json',
            beforeSend: function() {
            	$('#button-login').button('loading');
    		},
            complete: function() {
                $('#button-login').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');
    
                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#collapse-checkout-option .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    
    				// Highlight any found errors
    				$('input[name=\'email\']').parent().addClass('has-error');
    				$('input[name=\'password\']').parent().addClass('has-error');
    		   }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    
    // sqare pay
    
    
    
    // Guest
    $(document).delegate('#button-pay', 'click', function() {
        successurl = '{{ checkout_success }}';
        $.ajax({
            url: 'index.php?route=extension/payment/square/paysqare',
            type: 'post',
            data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
            dataType: 'json',
            beforeSend: function() {
           		$('#button-guest').button('loading');
    	    },
            success: function(json) {
                location = successurl;
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });


//--></script>
<style>.pav-newsletter {
  
    display: none;
}</style>
{{ footer }} 