{{ header }}<style>.ui-toolkit .col-xs-3 {    width: 25%;}.ui-toolkit .display-none {    display: none;}.ui-toolkit img {    border: 0;}.ui-toolkit .width-full {    width: 100%;}@media only screen and (min-width: 1200px).ui-toolkit .p-xl-3 {    padding: 18px;}@media only screen and (min-width: 0).ui-toolkit .mb-xs-2 {    margin-bottom: 12px;}.ui-toolkit .circle {    border-radius: 50%;    overflow: hidden;}.ui-toolkit .position-bottom {    bottom: 0;}.ui-toolkit .position-right {    right: 0;}.ui-toolkit .position-absolute {    position: absolute;}.ui-toolkit * {    margin: 0;}.ui-toolkit .btn {    border-radius: 3px;    border-style: solid;    border-width: 1px;    display: inline-block;    font-family: inherit;    font-size: 14px;    font-weight: bold;    height: 38px;    line-height: 1.4;    padding: 8px 12px;    text-align: center;    text-decoration: none;    user-select: none;    white-space: nowrap;    -webkit-tap-highlight-color: transparent;    -webkit-appearance: none;}.ui-toolkit a, .ui-toolkit .text-link-primary {    color: #9cd3d0;    text-decoration: none;}.ui-toolkit .etsy-icon.icon-smaller {    height: 18px;    width: 18px;}.ui-toolkit .etsy-icon {    display: inline-block;    fill: currentColor;    height: 24px;    vertical-align: middle;    width: 24px;}.ui-toolkit .btn-secondary {    background-color: #FFF;    border-color: rgba(0, 0, 0, 0.15);    color: #222;}.ui-toolkit. nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ display: block !important;}.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus , .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { display: block !important;}.ui-toolkit .col-group {    padding-left: 18px;    padding-right: 18px;}.ui-toolkit  .nav-item {    -moz-box-shadow: 0 0 0 0 #9A9A9A inset;    -webkit-box-shadow: 0 0 0 0 #9A9A9A inset;    box-shadow: 0 0 0 #9A9A9A 0 inset;    -webkit-transition: box-shadow 0.1s ease-out;    -moz-transition: box-shadow 0.1s ease-out;    -o-transition: box-shadow 0.1s ease-out;    -ms-transition: box-shadow 0.1s ease-out;    transition: box-shadow 0.1s ease-out;    border-radius: 0;    margin-left: 4px;    margin-right: 4px;    padding-left: 12px;    padding-right: 12px;    padding-bottom: 16px;}</style><div class=" ui-toolkit"><div class="row"><div class="col-md-3 col-xs-3 text-center">		<div class="hide-xs hide-sm show-md show-lg show-xl show-tv">    <div class="position-relative">        <img class="user-avatar-external display-none">        <img class="user-avatar-img circle width-full mb-xs-2 p-xl-3" src="https://img1.etsystatic.com/227/0/161017194/iusa_400x400.59522333_idim.jpg" alt="new">            <div class="position-absolute position-bottom position-right">                <button class="width-50px height-50px bg-white circle b-xs-1 btn vertical-center asset-manager-open" aria-label="edit-profile-photo">                    <span class="etsy-icon text-orange"></span>                </button>            </div>    </div></div></div><div class="col-md-4">		             <h1 class="mb-xs-1">{{ username }}</h1>                    <div class="mb-xs-2">    <div id="connection-follow-count-161017194" class="followers_count display-none">0</div>    <a class="no-wrap text-link-secondary text-gray-lighter" href="/uk/people/q25idmcg/circle?type=your"><span class="strong text-gray">0</span> Following</a>    &nbsp;    <a class="no-wrap text-link-secondary text-gray-lighter mr-xs-2 pr-xs-2" href="/uk/people/q25idmcg/circle?type=in"><span class="strong text-gray">0</span> Followers</a>    <br></div>                    <a class="btn btn-secondary mr-xs-1" href="{{ edit }}">        <span class="etsy-icon icon-smaller mr-xs-1"></span>        Edit Profile    </a></div><div class="col-md-5"><h2 class="h3">About</h2>                    <div class="text-gray prose">    <p>            </p>        <p class="text-gray-lightest pt-xs-2 text-smaller">        <span class="pr-xs-1">Joined {{date_added}}</span>     </p></div></div></div><ul class="nav nav-tabs col-group">  <li class="nav-item">    <a class="nav-link active" data-toggle="tab" href="#home">Favourite items</a>  </li>  <li class="nav-item">    <a class="nav-link" data-toggle="tab" href="#menu1">Favourite shops</a>  </li>  <li class="nav-item">    <a class="nav-link" data-toggle="tab" href="#menu2">Lists</a>  </li></ul><!-- Tab panes --><div class="tab-content">  <div class="tab-pane container active" id="home">  <div class="row">  <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">          <div class="product-thumb">            <div class="image"><a href="http://webappsitesdemo.com/doggy/index.php?route=product/product&amp;path=20&amp;product_id=47"><img src="http://webappsitesdemo.com/doggy/image/cache/catalog/collars-leads-550x695.jpg" alt="Destroyed Black Flex  Stretch" title="Destroyed Black Flex  Stretch" class="img-responsive"></a><button type="button" data-toggle="tooltip" class="btn  btn-wishlist btn-default" title="" onclick="wishlist.add('');" data-original-title="Add to fovourite"><img src="http://webappsitesdemo.com/doggy/image/catalog/bone-new.png"></button><div class="pav-ownstyle pav-quickview"><a href="#"><i class="fa fa-eye"></i></a></div></div>            <div class="product-meta clearfix">              <div class="caption">                <h4 class="name"><a href="http://webappsitesdemo.com/doggy/index.php?route=product/product&amp;path=20&amp;product_id=47">Destroyed Black Flex  Stretch</a></h4>                <p class="description">Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel Mon..</p>                                <div class="rating">                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>                                     <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>                                     <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>                                     <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                    </div>                                 <div class="group-action clearfix">                                    <div class="price">                                        <span class="price-new">£50.00</span> <span class="price-old">£120.00</span>                                      </div>                                    <div class="button-group" style="display:none">                    <button class="btn btn-cart" type="button" onclick="cart.add('47');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>                    <button class="btn btn-wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('47');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></button>                    <button class="btn btn-compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('47');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>                  </div>                </div>              </div>            </div>          </div>        </div>		</div>  </div>  <div class="tab-pane container fade" id="menu1">   <div class="row">  <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 20px 20px 20px 20px;">  No item  </div>  </div>  </div>  <div class="tab-pane container fade" id="menu2">   <div class="row">  <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 20px 20px 20px 20px;">  No item  </div>  </div>  </div></div></div>
<div id="account-account" class="container" style="display:none">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ text_my_account }}</h2>
      <ul class="list-unstyled">
        <li><a href="{{ edit }}">{{ text_edit }}</a></li>
        <li><a href="{{ password }}">{{ text_password }}</a></li>
        <li><a href="{{ address }}">{{ text_address }}</a></li>
        <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
      </ul>
      {% if credit_cards %}
      <h2>{{ text_credit_card }}</h2>
      <ul class="list-unstyled">
        {% for credit_card in credit_cards %}
        <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <h2>{{ text_my_orders }}</h2>
      <ul class="list-unstyled">
        <li><a href="{{ order }}">{{ text_order }}</a></li>
        <li><a href="{{ download }}">{{ text_download }}</a></li>
        {% if reward %}
        <li><a href="{{ reward }}">{{ text_reward }}</a></li>
        {% endif %}
        <li><a href="{{ return }}">{{ text_return }}</a></li>
        <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
        <li><a href="{{ recurring }}">{{ text_recurring }}</a></li>
      </ul>
      <h2>{{ text_my_affiliate }}</h2>
      <ul class="list-unstyled">
        {% if not tracking %}
        <li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>
        {% else %}
        <li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>
        <li><a href="{{ tracking }}">{{ text_tracking }}</a></li>
        {% endif %}
      </ul>
      <h2>{{ text_my_newsletter }}</h2>
      <ul class="list-unstyled">
        <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
      </ul>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div> 
{{ footer }}