{{header}}{{column_left}}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
    <div class="pull-right">
      <button type="button" data-toggle="tooltip" title="{{button_delete}}" class="btn btn-danger" onclick="confirm('{{text_confirm}}') ? $('#form-message').submit() : false;"><i class="fa fa-trash-o"></i></button>
    </div>
      <h1>{{heading_title}}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
  {% if error_warning and error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{error_warning}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i>{{text_list}}</h3>
      </div>
      <div class="panel-body">
      <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-from">{{from}}</label>
                    <input type="text" name="filter_from" value="{{filter_from}}" placeholder="{{from}}" id="input-from" class="form-control" />
              </div>
           </div>
              <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-to">{{to}}</label>
                <input type="text" name="filter_to" value="{{filter_to}}" placeholder="{{to}}" id="input-to" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-subject">{{subject}}</label>
                    <input type="text" name="filter_subject" value="{{filter_subject}}" placeholder="{{subject}}" id="input-subject" class="form-control" />
              </div>
           </div>
              <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-date">{{date}}</label>
                <div class='input-group date'>
                    <input type="text" name="filter_date" value="{{filter_date}}" placeholder="{{date}}" id="input-date" class="form-control" />
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
              <button type="button" onclick="filter();" class="btn btn-primary pull-right"><i class="fa fa-search"></i>{{button_filter}}</button>
              </div>
            </div>

          </div>
        </div>
        <form action="{{delete}}" method="post" enctype="multipart/form-data" id="form-message" class="form-horizontal">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{{from}}</td>
                  <td class="text-left">{{to}}</td>
                  <td class="text-left">{{subject}}</td>
                  <td class="text-left">{{date}}</td>
                  <td class="text-left">{{view}}</td>
                </tr>
              </thead>
              <tbody>
                {% if messages %} i0
                {% for message in messages %}
                <tr>
                <td class="text-center">
                    <input type="checkbox" name="selected[]" value="{{message.message_id}}" />
                  </td>
                  <td class="text-left">{{message.from}}</td>
                  <td class="text-left">{{message.to}}</td>
                  <td class="text-left">{{message.subject}}<span class="badge badge-lg badge-default pull-right">{{total_threads.i~' '~text_threads}}</span></td>
                  <td class="text-left">{{message.date}}</td>
                  <td class="text-left"><a class="btn btn-info" title="" data-toggle="tooltip" href="{{message.action}}" data-original-title="View"><i class="fa fa-eye"></i></a></td>
                </tr>
                 {% else %}
                 {% endfor %}
                <tr>
                  <td class="text-center" colspan="12">{{text_no_results}}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{pagination}}</div>
          <div class="col-sm-6 text-right">{{results}}</div>
        </div>
      </div>
    </div>
</div>
{{footer}}
<script type="text/javascript">
$('.date').datetimepicker({
  format:"YYYY-MM-DD"
});
  function filter() {
  url = 'index.php?route=communication/wk_communication&user_token={{user_token}}';

  var filter_from = $('input[name=\'filter_from\']').val();

  if (filter_from) {
    url += '&filter_from=' + encodeURIComponent(filter_from);
  }

  var filter_to = $('input[name=\'filter_to\']').val();

  if (filter_to) {
    url += '&filter_to=' + encodeURIComponent(filter_to);
  }

  var filter_subject = $('input[name=\'filter_subject\']').val();

  if (filter_subject) {
    url += '&filter_subject=' + encodeURIComponent(filter_subject);
  }

  var filter_date = $('input[name=\'filter_date\']').val();

  if (filter_date) {
    url += '&filter_date=' + encodeURIComponent(filter_date);
  }
  location = url;
}
</script>
