
<div class="pavo-widget-custom-menu {% if settings.language_code['menu_type'] == 'hor' %}hor{% endif %} {{ settings.extra_class }}{% if  settings.language_code['menu_type'] == 'dropdown' %} dropdown {% endif %} ">
 
		{% if settings.language_code['title'] %}
		<h3 class="menu-title">
			<a href="{{settings.server}}{{ settings.language_code['url_title'] }}"  {% if  settings.language_code['menu_type'] == 'dropdown' %} data-toggle="dropdown" {% endif %}>{{settings.language_code['title']}}</a>
		</h3>
		{% endif %}
		<ul class="{% if settings.language_code['menu_type'] == 'hor' %}list-inline{% elseif  settings.language_code['menu_type'] == 'ver' %}list-unstyled {% else %} dropdown-menu {% endif %} ">
			{% for key, item in settings.get_language %}
				{% if item.language['text_link'] %}
					<li class="custom-menu-item item-{{ key }}">
						<a href="{{settings.server}}{{ item.language['url_link'] }}">
							<i class="fa {{ settings.items[key].icon }}"></i>
							{{ item.language['text_link'] }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
 


</div>